/* //////////////////////  scoll_images ////////////////// */

.scoll_images {

    width: 100%;
    height: 500px;
    scroll-behavior: left;
    animation-name: an1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
    background-image: url(/public/images/scrollPages3.jpg);
}

@keyframes an1 {
    0% {
        background-image: url(/public/images/scrollPages3.jpg);
    }

    0% {
        background-image: url(/public/images/scrollPages3.jpg);
    }

    25% {
        background-image: url(/public/images/scrollPages1.jpg);
    }

    30% {
        background-image: url(/public/images/scrollPages1.jpg);
    }

    70% {
        background-image: url(/public/images/scrollPages2.jpg);
    }

    75% {
        background-image: url(/public/images/scrollPages2.jpg);
    }
}


/*    //////////////////    best Sellers ///////////// //////////// */


.best_seller {
    width: 100%;
    background-color: rgb(225, 241, 241);
    /* border: 2px solid black; */
    overflow: hidden;
    padding-bottom: 20px;
 }
 #Best_seller_heading{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
 }
 .grid_use{
    display: grid;
    justify-content: space-around;
    grid-template-columns: 30% 30% 30%;
 }
 .best_mobile_box{
    /* border: 2px solid black; */
    width: 90%;
    height: 80%;
    margin: auto;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);

 }
 .best_mobile_box div{
    width: 100%;
    height: 80%;
 }
 .best_mobile_box img{
    width: 100%;
    height: 100%;
 }
 .grid_use a div p{
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    color:black;
    font-weight: bold;
    margin: 0px;
 }
 /*
#heading{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
     font-size: 30px;
     font-weight: bold;
     
}

.grid_use{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 6%;
    margin-top: 50px;
    
}


#item_1{
    width: 330px;
    height: 400px;
    background-color: azure;
    /* box-shadow: 2px 4px 4px black; 
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);

}



#item_1 img {
   width: 100%;
   height: auto;
   margin-top: -30px;

}

#item_1 p{
   font-size: 22px;
   width: 200px;
   font-weight: bold;
   margin-top: -75px;
   margin-left: 85px;
   color: black;
   list-style-type: none;
}

#item_2 {
    width: 330px;
    height: 400px;
    background-color: azure;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);

}

#item_2 img {
    width: 100%;
   height: 360px;
   margin-top: -10px;

}

#item_2 p{
    font-size: 22px;
    width: 200px;
    font-weight: bold;
    margin-top: -20px;
    margin-left: 70px;
    color: black;
    list-style-type: none;

}

#item_3 {
    width: 330px;
    height: 400px;
    background-color: azure;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);

}

#item_3 img {
    width: 100%;
    height: 340px;
    
}

#item_3 p {
    font-size: 22px;
    width: 200px;
    font-weight: bold;
    margin-top: -10px;
    margin-left: 110px;
    color: black;
}

.Offer {
    width: 100%;
    height: 190px;
    overflow: hidden;
    
}

.Offer img {
    width: 100%;
    margin-top: 60px;
    margin-left: 60px; 

} */

/* ///////////////  Shop By Brand ///////////////// */

.Shop_Brand_main{
    width: 100%;
    height: 670px;
    margin-top: 70px;
    /* background-color: aqua; */
    border: 1px solid black;
    margin-top: 100px;
    border-top-right-radius: 10px;
    overflow: hidden;
    
}

.shop_brand_name{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    /* background-color: aquamarine; */
    /* margin-top: 100px; */
    background-image: url(/public/images/text_images.jpg);
}

.shop_brand_name span{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 20px;
   
}
.shop_brand_name_2{
  border: 1px solid black;
  height: 55px;
}

.shop_brand_name_2 span{
   font-size: 23px;
   margin-left: 33px;
  position: absolute;
  margin-top: 10px;
 
}

.shop_brand_name_2 button{
    padding: 6px;
  margin-left: 1170px;
  background-color: rgb(111, 179, 251);
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.grid_section{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 20px;
    width: 100%;
}



.realme_main_div img{
    width: 100%;
    width: 200px ;
    height: 300px;
    /* border: 2px solid black; */
    margin-top: 50px;
    margin-left: 30px;
}

.realme_main_div span{
    margin-left: 33px;
    font-size: 19px;
}

.realme_main_div p {
    margin-left: 38px;
    opacity: 0.8;
}


.realme_1_img img{
    width: 45%;
    height: 100%;
    margin-top: -25px;
    margin-left: 40px;
    border-radius: 10px solid black;
}

.realme_1_img p{
font-size: 20px;
margin-top: -10px;
}

.realme_1_img p span{
    opacity: 0.9;
    font-size: 17px;
    margin-left: 10px;
    text-decoration:line-through;
}



.realme_main_div2 img{
    width: 100%;
    width: 250px ;
    height: 300px;
    /* border: 2px solid black; */
    margin-top: 50px;
    margin-left: 30px;
}

.realme_main_div2 span{
    margin-left: 38px;
    font-size: 19px;
}

.realme_main_div2 p {
    margin-left: 38px;
    opacity: 0.8;
}



.realme_2_img img{
    width: 40%;
    height: 100%;
    margin-top: -25px;
   margin-left: 40px;
    border-radius: 10px solid black;
}

.realme_2_img p{
font-size: 20px;
margin-top: -10px;
margin-left: 40px;
}

.realme_2_img p span{
    opacity: 0.9;
    font-size: 17px;
    margin-left: 13px;
    text-decoration:line-through;
}




.realme_main_div3 img{
    width: 100%;
    width: 250px ;
    height: 300px;
    /* border: 2px solid black; */
    margin-top: 50px;
    margin-left: 30px;
}

.realme_main_div3 span{
    margin-left: 38px;
    font-size: 20px;
}

.realme_main_div3 p {
    margin-left: 38px;
    opacity: 0.8;
}

.realme_1_img{
    
    
}

.realme_3_img img{
    width: 40%;
    height: 100%;
    margin-top: -25px;
   margin-left: 40px;
    border-radius: 10px solid black;
}

.realme_3_img p{
font-size: 20px;
margin-top: -10px;
margin-left: 40px;

}

.realme_3_img p span{
    opacity: 0.9;
    font-size: 17px;
    margin-left: 13px;
    text-decoration:line-through;
}








.realme_main_div4 img{
    width: 100%;
    width: 250px ;
    height: 300px;
    /* border: 2px solid black; */
    margin-top: 50px;
    margin-left: 30px;
}

.realme_main_div4 span{
    margin-left: 50px;
    font-size: 18px;
}

.realme_main_div4 p {
    margin-left: 50px;
    opacity: 0.8;
}



.realme_4_img img{
    width: 40%;
    height: 100%;
    margin-top: -25px;
    margin-left: 50px;
    border-radius: 10px solid black;
}

.realme_4_img p{
font-size: 20px;
margin-left: 50px;
margin-top: -10px;
}

.realme_4_img p span{
    opacity: 0.9;
    font-size: 17px;
    margin-left: 13px;
    text-decoration:line-through;
}



/* /////////////////// POCO SECTION //////////////// */


.Poco_section_main{
    width: 100%;
    height: 530px;
    /* background-color: aqua; */
    border: 1px solid black;
    overflow: hidden;
}

.Poco_brand_name{
    width: 100%;
    height: 60px;
    border: 1px solid black;
}

.grid_poco{
    display:  grid;
    grid-template-columns: auto auto auto auto;
}

.Poco_section_main span{
        font-size: 23px;
       margin-left: 30px;
       width: 200px;
      margin-top: 10px;
}

#button_poco{
padding: 5px;
border-radius: 6px;
margin-left: 950px;
margin-top: 7px;
  background-color: rgb(111, 179, 251);

  
 
}





.poco_main_div{
    width : 250px;
    height: 300px;
   
}


.poco_main_div img{
    /* width: 100%; */
    width: 240px ;
    height: 300px;
    /* border: 2px solid black; */
    margin-top: 46px;
    margin-left: 30px;
}

.poco_main_div span{
    margin-left: 38px;
    font-size: 20px;
    margin-top: -5px;

}

.poco_main_div p {
    margin-left: 40px;
    opacity: 0.8;
    font-size: 18px;
    /* background-color: aquamarine; */
  
}

.poco_1_img img{
    width: 45%;
    height: 100%;
    margin-top: -30px;
    margin-left: 40px;
    border-radius: 10px solid black;
}

.poco_1_img p{
font-size: 20px;
margin-top: -15px;
margin-left:40px;
}

.poco_1_img p span{
    opacity: 0.9;
    font-size: 17px;
    margin-left: 13px;
    margin-top: 3px;
    text-decoration:line-through;
}





.poco2_div{
    width : 250px;
    height: 300px;
  
}

.poco2_div img{
    width: 100%;
    /* width: 240px ; */
    height: 300px;
    /* border: 2px solid black; */
    margin-top: 46px;
    margin-left: 30px;
}

.poco2_div span{
    margin-left: 38px;
    font-size: 20px;
    margin-top: -5px;

}

.poco2_div p {
    margin-left: 40px;
    opacity: 0.8;
    font-size: 18px;
    /* background-color: aquamarine; */
   
}

.poco_2_img img{
    width: 45%;
    height: 100%;
    margin-top: -30px;
    margin-left: 40px;
    border-radius: 10px solid black;
}

.poco_2_img p{
font-size: 20px;
margin-top: -15px;
margin-left:40px;
}

.poco_2_img p span{
    opacity: 0.9;
    font-size: 17px;
    margin-left: 13px;
    margin-top: 3px;
    text-decoration:line-through;
}






.poco3_div{
    width : 250px;
    height: 300px;
   
}

.poco3_div img{
    width: 100%;
    /* width: 240px ; */
    height: 300px;
    /* border: 2px solid black; */
    margin-top: 46px;
    margin-left: 30px;
}

.poco3_div span{
    margin-left: 38px;
    font-size: 20px;
    margin-top: -5px;

}



.poco3_div p {
    margin-left: 40px;
    opacity: 0.8;
    font-size: 18px;
    /* background-color: aquamarine; */
   
}

.poco_3_img img{
    width: 40%;
    height: 100%;
    margin-top: -30px;
    margin-left: 40px;
    border-radius: 10px solid black;
}

.poco_3_img p{
font-size: 20px;
margin-top: -15px;
margin-left:40px;
}

.poco_3_img p span{
    opacity: 0.9;
    font-size: 17px;
    margin-left: 13px;
    margin-top: 3px;
    text-decoration:line-through;
}






.poco4_div{
    width : 250px;
    height: 300px;
    
}

.poco4_div img{
    width: 100%;
    /* width: 240px ; */
    height: 300px;
    /* border: 2px solid black; */
    margin-top: 46px;
    margin-left: 30px;
}

.poco4_div span{
    margin-left: 38px;
    font-size: 20px;
    margin-top: -5px;

}

.poco4_div p {
    margin-left: 40px;
    opacity: 0.8;
    font-size: 18px;
    /* background-color: aquamarine; */
   
}

.poco_4_img img{
    width: 40%;
    height: 100%;
    margin-top: -30px;
    margin-left: 40px;
    border-radius: 10px solid black;
}

.poco_4_img p{
font-size: 20px;
margin-top: -15px;
margin-left:40px;
}

.poco_4_img p span{
    opacity: 0.9;
    font-size: 17px;
    margin-left: 13px;
    margin-top: 3px;
    text-decoration:line-through;
}
